<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stored Passwords</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/second.jpeg') }}");
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Stored Passwords</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Length</th>
                    <th>Password</th>
                    <th>Strength</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for password in passwords %}
                <tr>
                    <td>{{ password._id }}</td>
                    <td>{{ password.length }}</td>
                    <td>{{ password.password }}</td>
                    <td>{{ password.strength }}</td>
                    <td>
                        <form action="{{ url_for('delete_password', password_id=password._id) }}" method="POST" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/">Generate Another Password</a>
    </div>
</body>
</html>
